apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: dev
  annotations: {}
  labels: {}
description: dev
gke:
  cluster: projects/bionic-upgrade-484010-t5/locations/us-central1-c/clusters/autopilot-cluster-1

